.scoreBox {
  position: relative;
  overflow: hidden;
  .starBox {
    display: flex;
    & > img {
      width: 34px;
      height: 34px;
      margin-right: 4px;
    }
  }
  .starActive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
