.socialResponsibility {
  overflow: hidden;
  padding-bottom: 116px;
  .info {
    margin-top: 24px;
    background: #f8f9fa;
    border-radius: 14px;
    display: flex;
    padding: 32px;
    &:first-of-type {
      margin-top: 64px;
    }
    & > img {
      width: 488px;
      height: 317px;
      margin-right: 40px;
      border-radius: 14px;
    }
    & > div {
      margin-top: 69px;
      & > h2 {
        font-weight: 500;
        color: #0a002a;
        font-size: 32px;
      }
      & > p {
        margin-top: 24px;
        font-size: 20px;
        color: #8c8c8c;
        line-height: 28px;
        text-align: justify;
      }
    }
  }
}
