.headLine {
  text-align: center;
  margin-top: 116px;
  & > h2 {
    font-size: 70px;
    font-weight: 600;
    color: #0a002a;
    &::before {
      content: "";
      display: inline-block;
      width: 175px;
      height: 13px;
      background: url("../../../images/titleLeft.png") no-repeat 100%;
      background-size: 175px 13px;
      margin-right: 45px;
      vertical-align: middle;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 175px;
      height: 13px;
      background: url("../../../images/titleRight.png") no-repeat 100%;
      background-size: 175px 13px;
      margin-left: 45px;
      vertical-align: middle;
    }
  }
  & > p {
    font-size: 26px;
    color: #8c8c8c;
    margin-top: 8px;
  }
}
