.mobileProgramming {
  overflow: hidden;
  padding-bottom: 116px;
  .downBox {
    margin-top: 57px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    & > img {
      width: 869px;
    }
    .downInfo {
      text-align: center;
      margin-top: 25px;
      & > img {
        width: 192px;
      }
      & > p {
        font-size: 32px;
        font-weight: 500;
        color: #0a002a;
        margin-bottom: 28px;
      }
      .downMode {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        & > img:first-of-type {
          width: 32px;
        }
        & > img:last-of-type {
          width: 10px;
          height: 14px;
        }
        & img {
          vertical-align: middle;
        }
      }
    }
  }
  .classify {
    display: flex;
    justify-content: space-between;
    & > div {
      height: 100%;
      text-align: center;
      background: white;
      padding: 60px 30px;
      overflow: hidden;
      margin-right: 22px;
      cursor: pointer;
      & > img {
        width: 168px;
      }
      & > h3 {
        font-size: 30px;
        font-weight: 500;
        color: #0a002a;
        margin: 24px 0 16px;
        font-size: 30px;
      }
      & > p {
        font-size: 18px;
        color: #8c8c8c;
        text-align: justify;
      }
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}
